/* button{
    background-color:red ;
    color: #ffffff;
}
button.hover{
    background-color:red;
    color: #ffffff;
}
img{
    width:100%;
}
h1{
    color: #ffffff;
} */

button{
    background-color: #E50914;
    color: #ffffff;
}
 
button:hover{
    background-color: #E50914;
    color: #ffffff;
}
img{
    width: 100%;
    cursor: pointer;
}
h1{
    color: #ffffff;
}